<div class="min-h-screen bg-gray-100 flex flex-col justify-center sm:py-12">
  <div class="p-10 xs:p-0 mx-auto md:w-full md:max-w-md">
    <h1 class="font-bold text-center text-2xl mb-5">Inicia Sesión</h1>  
    <div class="bg-white shadow w-full rounded-xl divide-y divide-gray-200">
      <div class="px-5 py-7">
      <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
        <div class="field">
          <label class="font-semibold text-sm text-gray-600 pb-1 block">Correo</label>
          <%= f.email_field :email, autofocus: true, autocomplete: "email", :class => "border rounded-lg px-3 py-2 mt-1 mb-5 text-sm w-full" %>
        </div>

        <div class="field">
          <label class="font-semibold text-sm text-gray-600 pb-1 block">Contrasena</label>
          <%= f.password_field :password, autocomplete: "current-password", :class => "border rounded-lg px-3 py-2 mt-1 mb-5 text-sm w-full" %>
        </div>

        <!-- <% if devise_mapping.rememberable? %>
          <div class="field">
            <%= f.check_box :remember_me %>
            <%= f.label :remember_me %>
          </div>
        <% end %> -->

        <div class="actions">
          <%= f.submit "Inicia sesión", :class => "mt-5 transition duration-200 bg-blue-500 hover:bg-blue-600 focus:bg-blue-700 focus:shadow-sm focus:ring-4 focus:ring-blue-500 focus:ring-opacity-50 text-white w-full py-2.5 rounded-lg text-sm shadow-sm hover:shadow-md font-semibold text-center inline-block" %>
        </div>
      <% end %>
      </div>
    </div>
  </div>
</div>
